/* Universal formatting for the webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Body element formatting for the webpage */
body {
    background-color: #d9dcd6;
}
/* Header at top of page formatting */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* ------------------------------------------ */
/* Company logo display begin*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
.header h1 .seo {
    color: #d9dcd6;
}
/* Company logo display end*/
/* ------------------------------------- */

/* Navigation bar at top of page formatting */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* Orders the Nav bar option horizontally */
.header li {
    display: inline-block;
    margin-left: 25px;
}
/* Nav bar link color setting */
a {
    color: #ffffff; 
    text-decoration: none;
}
/* Setting all Paragraph element sizes */
p {
    font-size: 16px;
}

/* Formats background image of team working under main nav bar*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Left hand content blocks */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
}

/* Left hand content internal block formatting */
.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}
/* Sets content image sizes */
.content img {
    max-height: 200px;
}
/* Sets content header sizes and margins*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Controls image and content positioning within div class="content" */
.float-left {
    float: left;
    margin-right: 25px;
}
/*Controls image and content positioning within div class="content" */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Places benefits section on right-hand side and controls formatting */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Consolidated margins/font color for benefits content */
.benefits div
 {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated margins/text-alignment for benefits headers */
.benefits h2
{
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.17em;
}

/* Consolidated benefits image display/margin/width */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Sets footer padding and font*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Sets footer header font size */
.footer h2 {
    font-size: 20px;
}
